extends base 

block content
  form.form.form--forgot(dir='ltr')
    input(type="email" name="email" placeholder="Enter Your Email" autocomplete='off' required)
    button(type="submit") إستعادة
  a(href='/login') تسجيل الدخول

